@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;800&family=Inter:wght@400;500;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

footer {
    font-family: 'Inter', sans-serif;
}

.logo{
    font-family: 'Cinzel', serif;
}
.crinzel{
    font-family: 'Cinzel', serif;
}